---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500|Roboto+Mono');

@import "minima";
@import "custom/header";
@import "custom/home";
@import "custom/post";

// global overrides
body {
  font-family: 'Roboto', $base-font-family;
}

a {
  color: black;
  font-weight: bold;

  &:visited {
    color: black;
  }

  &:active {
    color: black;
  }

  &:hover {
    color: black;
  }
}
